[build]
  functions = "netlify/functions"
  publish = "."

[[redirects]]
  from = "/api/votd"
  to = "/.netlify/functions/votd"
  status = 200

[functions]
  node_bundler = "esbuild"

[build.environment]
  NODE_VERSION = "18"
